html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

.error {
    margin: 20px auto;
    width: 400px;
    background-color: #606060;
    color: white;
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
}

.error p {
    text-align: center;
}

.error p a {
    color: white;
}